@import './semantic/semantic.less';

.text.large > * {
  font-size: 1.33em !important;
}

.ui.menu .ui.dropdown.item .menu .item {
  color: black;
}

.ui.cards {
  display: block;
  columns: 300px auto;
  column-gap: 2em;

  & > .ui.card {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    width: 100%;
    display: block;
    margin: 1em 0;
  }
}
