// @import './semantic/semantic.less';
@import 'https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css';

.text.large > * {
  font-size: 1.33em !important;
}

.ui.menu .ui.dropdown.item .menu .item {
  color: black;

  * {
    color: inherit;
  }
}

.ui.cards {
  display: block;
  columns: 300px auto;
  column-gap: 2em;

  & > .ui.card {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    width: 100%;
    display: block;
    margin: 1em 0;
  }
}
